@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&family=Spartan:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-height: 100vh;
    background: rgb(33, 33, 33);
    background: linear-gradient(90deg, rgba(33, 33, 33, 1) 0%, rgba(51, 51, 51, 1) 40%, rgba(99, 99, 99, 1) 87%, rgba(90, 90, 90, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
}

#player {
    font-size: 2rem;
    color: darkgrey;
    font-weight: 400;
    margin-bottom: 20px;
}

#player span {
    color: darkseagreen;
    font-weight: 500;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#container div {
    width: 130px;
    height: 130px;
    border: 2px solid #ccc;
    background: #12171b;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding-top: 20px;
    font-weight: 400;
    font-family: 'Spartan', sans-serif;
    color: teal;
}

@media only screen and (max-width:400px) {
    #container div {
        width: 100px !important;
        height: 100px !important;
    }
}